### Notebook

In [1]:
### Import python libraries
import pandas as pd
import numpy as np
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingClassifier

In [3]:
df = pd.read_csv('./Data/RCS_of_ELC.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1008007 entries, 0 to 1008006
Data columns (total 6 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   la               1008007 non-null  int64
 1   lb               1008007 non-null  int64
 2   l1               1008007 non-null  float64
 3   w                1008007 non-null  float64
 4   Frequency / GHz  1008007 non-null  float64
 5   RCS              1008007 non-null  float64
dtypes: float64(4), int64(2)
memory usage: 46.1 MB

In [5]:
df.head()

   la  lb   l1    w  Frequency / GHz        RCS
0   5   5  3.0  0.5            1.000 -64.943948
1   5   5  3.0  0.5            1.009 -64.999175
2   5   5  3.0  0.5            1.018 -65.111787
3   5   5  3.0  0.5            1.027 -65.282981
4   5   5  3.0  0.5            1.036 -65.514548

#### Test the correlation

In [6]:
df.rename(columns = {'Frequency / GHz' : 'ghz'}, inplace = True)

In [7]:
df.head()

   la  lb   l1    w    ghz        RCS
0   5   5  3.0  0.5  1.000 -64.943948
1   5   5  3.0  0.5  1.009 -64.999175
2   5   5  3.0  0.5  1.018 -65.111787
3   5   5  3.0  0.5  1.027 -65.282981
4   5   5  3.0  0.5  1.036 -65.514548

In [8]:
## Define X,y

X = df.loc[:,'la':'w']
y = df['RCS']

In [9]:
### Train test split the data
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.25,random_state=2020)

### Instantiate RandomForestRegressor

In [10]:
rfc =  RandomForestRegressor(random_state=42)

In [11]:
rfc.fit(X_train,y_train)

RandomForestRegressor(random_state=42)

In [12]:
print(f"Score for training data : {np.round(rfc.score(X_train,y_train),3)}")

Score for training data : 0.012

In [13]:
print(f"Score for testing data : {np.round(rfc.score(X_train,y_train),3)}")

Score for testing data : 0.012

In [14]:
preds = rfc.predict(X_test)

#### Dataframe for Predictions

In [15]:
pd.DataFrame({'Predictions':np.round(preds,3), 'True_data': np.round(y_test,3)})

        Predictions  True_data
526580      -40.579    -61.740
834208      -39.419    -50.358
307263      -42.236    -31.121
973860      -41.277    -30.458
208694      -39.538    -48.858
...             ...        ...
690739      -41.023    -60.036
956789      -39.528    -29.308
470054      -41.838    -38.207
474851      -41.505    -42.186
57204       -41.653    -53.556

[252002 rows x 2 columns]

In [16]:
X_test

        la  lb   l1    w
526580   5   8  4.0  0.6
834208   6  10  4.5  0.5
307263   6   6  3.5  1.0
973860  10   6  4.5  0.4
208694   9  10  3.0  1.0
...     ..  ..  ...  ...
690739   9   7  4.0  0.9
956789   9   9  4.5  0.8
470054  10   6  3.5  0.5
474851  10   6  3.5  1.0
57204    6   7  3.0  0.6

[252002 rows x 4 columns]